body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.user_block {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 20%;
  border: 1px solid darkgray;
  margin: 1%;
  padding: 1%;
  align-content: center;
  box-sizing: border-box;
}

.user_block img{
  width: 100%;
  padding: 1.3%;
}

.user_block span{
  color: orange;
}

h3{
  color: blue;
}
