body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.user_block {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 20%;
  border: 1px solid darkgray;
  margin: 1%;
  padding: 1%;
  align-content: center;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.user_block img{
  width: 100%;
  padding: 1.3%;
}

.user_block span{
  color: orange;
}

h3{
  color: blue;
}

body.user_page{
  display: flex;
  flex-flow:column nowrap;
  justify-content: center;
}

.user_hero{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

}

.hero_top img{
  margin-right: 2%;
  border-radius: 100%;
  border:1px solid darkgrey;
}

.hero_top {
  display: flex;
  width: 80%;
  padding-left: 15%;
}
.hero_bottom{
  width: 40%;
}

.name_stuff{
  width: 80%;
}

.skills {
  display: flex;
  justify-content: space-around;
}

.education{
  padding-left: 15%;
}

.skills strong{
  padding-left: 5%;
}
